<h2>CS</h2>
<table style="width:100%">
  <tr style="border:thin solid white;">
    <th>Compilers</th>
    <th>DBMS</th>

  </tr>

  <tr>
    <td>Find the proofs sheet</td>
    <td>Read shubhi's book</td>

  </tr>


  <tr style="border-bottom: thin solid white;">
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Start taking the book to the class</td>
    <td>See the slides</td>
  </tr>
  <tr>
    <td>Talk to him about the exams</td>
    <td>Attend classes</td>
  </tr>
  <tr>
    <td>Sample finished task</td>
    <td>Sample finished task</td>
  </tr>
</table>
