<h2>Elec</h2>
<table style="width:100%">
  <tr style="border:thin solid white;">
    <th>Power Systems</th>
    <th>Power Electronics</th>

  </tr>

  <tr>
    <td>Learn approx algos</td>
    <td>See slides</td>

  </tr>

  <tr>
    <td>Do a few problems</td>
    <td>Read the book (refer slides)</td>

  </tr>

  <tr>
    <td>Catch up to where sir is in class</td>
    <td>Do a few problems</td>

  </tr>




  <tr style="border-bottom: thin solid white;">
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Sample finished task</td>
    <td>Sample finished task</td>

  </tr>




</table>
