<!-- Impossible List Section Section -->
<section id="implist" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Impossible List (To Be Updated)</h2>

        <p class="intro-text">The <a href="https://impossiblehq.com/impossible-list/">impossible list</a> is a tabulation of tasks we never feel like doing because they are just too difficult to accomplish. However, unlike a bucket list, once we accomplish one, we replace it with a harder task.</p>

        <button class="collapsible">Ongoing</button>
        <div class="content">
          <ul align="left">
            <li>RL</li>
              <ul align="left">
                <li>Lazy Programmar Reinforcement Learning</li>
                <li>Udacity: Reinforcement Learning</li>
                <li>Hands On RL </li>
                <li>Lazy Programmar Deep Reinforcement Learning</li>
              </ul>

            <li>typing.com</li>
            <li>Magoosh: 90 day Verbal Focused GRE</li>
            <ul align="left">
              <li>Word Power Made Easy by Norman Lewis</li>
              <li>Vocab Builder App & Workbook by Chris Lele</li>
            </ul>




            <li>The Fabulous App's routine for 1 month</li>
            <ul align="left">
              <li>Morning Routine</li>
              <li>Workout</li>
              <li>Night Routine</li>
              <li>Meditation</li>
            </ul>

          </ul>
        </div>


        <button class="collapsible">Upcoming</button>
        <div class="content">
          <ul align="left">

            <li>Coursera Julia Computing</li>
            <li>Udacity AI for Robotics</li>
            <ul align="left">
              <li>Lectures on The <a href="http://www.ilectureonline.com/lectures/subject/SPECIAL%20TOPICS/26/190">Kalman Filter</a></li>
              <li>All lectures and HW assignments</li>
              <li>Capstone Project: Runaway Robot</li>
            </ul>

            <li>Coursera Practical Reinforcement Learning</li>
          </ul>
        </div>

        <button class="collapsible">Future</button>
        <div class="content">
          <ul align="left">
            <li>Udacity Differential Eq in Action</li>
            <li>"Coursera Negaotiations" and "Coursera Game Theory I & II"</li>
          </ul>
        </div>

        <button class="collapsible">Done</button>
        <div class="content">
          <ul align="left">

            <li>Udemy: Modern Deep Learning</li>
            <li>Udemy Puctuations Course</li>
            <li>Magoosh English Grammar App</li>
            <li>Make a professional website. (<a href="https://github.com/Aks-Dmv/portfolio.git">20 May, 2018</a>)</li>

          </ul>
        </div>
        <ul align="left">

        </ul>
      </div>
    </div>
  </div>
</section>
