<h2>MS</h2>
<table style="width:100%">
  <tr style="border:thin solid white;">
    <th>Paper</th>
    <th>GRE</th>

  </tr>
  <tr>
    <td>Code up the RL part</td>
    <td>Do the book words</td>

  </tr>
  <tr>
    <td>Test (plot) the RL part on a test set</td>
    <td>Start Magoosh</td>

  </tr>
  <tr>
    <td>Code up the hyperbolic part</td>
    <td></td>

  </tr>
  <tr>
    <td>Test the hyperbolic part on a test set</td>
    <td></td>

  </tr>
  <tr style="border-bottom: thin solid white;">
    <td></td>
    <td></td>
  </tr>



  <tr>
    <td>Sample finished task</td>
    <td>Sample finished task</td>

  </tr>
</table>
