<h2>MS</h2>
<table style="width:100%">
  <tr>
    <th>Paper</th>
    <th>GRE</th>

  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>

  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>

  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>

  </tr>
</table>

<br>


<table style="width:100%">
  <tr>
    <th>Paper</th>
    <th>GRE</th>

  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>

  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>

  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>

  </tr>
</table>
